body {
    font-family: "Lato", sans-serif;
    background-color: #d3efec;
}



.sidenav {
    height: 100%;
    background-color: #cadefc;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;


}


    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 50%;
        margin-left:10%;
        
        
    }


    .register-form{
        margin-top: 20%;
    }



.login-main-text{
    margin-top: 25%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #a7bcb9;
    color: #fff;
}
.alet {
    padding: 15px;
    background: #ffd48a;
    color: white;
    
}

